The script uses a 3rd party package for working with XLSX files, avaialble here:
https://www.powershellgallery.com/packages/ImportExcel
To install, run this command: $Install-Module -Name ImportExcel